body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.header{
    display: flex;
    padding: 32px;
    justify-content: space-between;
    align-items: center;
    gap: 1000px;
    font-size: 48px;
    font-weight: 700;
    font-family: sans-serif;
}

.header button{
    border: none;
    background-color: beige;
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 12px;
    width: 102px;
    height: 48px;
}

.main-content button{
    border: none;
    background-color: beige;
    font-size: 24px;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 24px;
    width: 170px;
    height: 48px;
}

.footer{
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
}

.details{
    background-color: beige;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 16px;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

.main-content{
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.form-details{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-details button{
    background-color: lightgreen;
}



